<p>
    <?= e(trans('itcom.yandexyml::lang.yandexyml.settings.settings_generate_hint')) ?>
</p>

<p>
    <?= 'Доступна по ссылке <a href="http://itcom-market.ru/shop.xml">http://itcom-market.ru/shop.xml</a>' ?>
</p>