<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('system/settings') ?>">
            <?= e(trans('system::lang.settings.menu_label')) ?></a>
        </li>

        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<div class="padded-container container-flush">
    <?= $this->makeHintPartial('seo_import_hint', 'hint') ?>

    <div class="control-toolbar">
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar">
                <button class="btn btn-primary"
                        data-request="onGenerateYmlFile"
                        data-stripe-load-indicator>
                    <?= e(trans('itcom.yandexyml::lang.yandexyml.settings.settings_generate_btn_start')) ?>
                </button>
            </div>
        </div>
    </div>
</div>


